*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(210, 113, 189);
    padding: 5% 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    text-align: center;
}
header{
    font-size: 30px;
    font-weight: 900;
    color: rgb(12, 50, 26);
}
.container{
    border: 5px solid brown;
    border-radius: 10px;
    background-color: rgb(21, 53, 90);
    color: white;
    margin:5% 0;
    padding:2%;
    font-size: 25px;
    height: 80%;
    width: 700px;
    display: block;
  
    align-items: center;
}
.input{
    padding:2%;
    margin: 3% 0;
    /* text-align: left; */
    /* width: 650px; */
    display:grid;
    /* grid-template-columns: 550px 1fr;
    grid-template-rows: 80px 80px 80px 80px; */
    /* grid-template-areas:item-1 item-2 item-3 item-4; */
    /* background-color: antiquewhite; */
   
    align-items: center;
    justify-content: center;
}
input,select{
    height: 40px;
    width:200px;
}
/* select{
    height: 40px;
    width:200px;
} */
.item{
    padding: 2% 0;
    align-items: center;  
}
#btn{
    margin: 3%;
    padding:1%;
    width:200px;
    font-size: 30px;
    background-color: rgb(226, 153, 43);
    color: rgb(139, 58, 15);
    border-radius: 10px;
    border: none;
}
#btn:hover{
    background-color: rgb(139, 58, 15);
    color: rgb(226, 153, 43);
}
footer{
    text-align: right;
    background-color: rgb(44, 120, 77);
    margin-top:10%;
    padding:2%;
    font-size: 30px;        
}