*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;   
}
body{
    background-color: rgb(233, 208, 227);
    align-items: center;
    justify-content: center;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    font-size: 30px;
    font-weight: 900;
    color: rgb(19, 78, 137);
    margin-top: 5%;
}

.container{
    border: 5px solid brown;
    border-radius: 10px;
    background-color: rgb(21, 53, 90);
    color: white;
    margin:1% 20%;
    padding:15px 5px;
    font-size: 25px;
    height: 450px;
    width: 320px;
    /* keep width and height absolute(pixels).So that the their length do not vary 
    in any screen */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input{
    margin: 10px 5px;
    text-align:left;
    width: 95%;
    display:grid;
    grid-template-columns: 90%;
    grid-template-rows: 70px 70px 70px 70px;
    /* try using grid-template-areas */

    align-items: center;
    font-size: 20px;
}
input,select{
    height: 40px;
    width: 270px;
    background-color: aquamarine;
    padding: 2%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.output{
    margin: 2%;
}

#btn{
    margin: 3% 0;
    padding:1%;
    width:200px;
    font-size: 30px;
    background-color: rgb(226, 153, 43);
    color: rgb(139, 58, 15);
    border-radius: 10px;
    border: none;
}
#btn:hover{
    background-color: rgb(139, 58, 15);
    color: rgb(226, 153, 43);
}
footer{
    text-align: right;
    background-color: rgb(168, 83, 172);
    color: rgb(221, 239, 102);
    margin-top:6.5%;
    padding:10px;
    font-size: 25px;        
    width: 100%;     
}
@media screen and (min-width:310px) and (max-width :370px){
    header{
        font-size: 15px;
    
}